@model Winkellijst_ASP.Models.WinkelLijst

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <form class="form">
                <div class="col-lg-12">
                    <input class="form-control" type="text" placeholder="Zoek hier je product" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zoek</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*<h4>WinkelLijst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GebruikerId" class="control-label"></label>
                <select asp-for="GebruikerId" class ="form-control" asp-items="ViewBag.GebruikerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WinkelId" class="control-label"></label>
                <select asp-for="WinkelId" class ="form-control" asp-items="ViewBag.WinkelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AanmaakDatum" class="control-label"></label>
                <input asp-for="AanmaakDatum" class="form-control" />
                <span asp-validation-for="AanmaakDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a class="btn btn-primary btn-lg" role="button" asp-action="Index"> Terug naar Winkellijsten</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
