@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Winkellijst";
}
<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="de shop match">
    <meta name="author" content="">
    <title>Welkom bij Shop Match</title>
</head>
<body>
    <!-- Winkellijst menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                Mijn Winkellijst
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Toevoegen
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Productlijst -->
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex w-100 justify-content-start">
                <h5 class="mb-1">Coco Cola</h5>
            </div>
            <div class="d-flex w-100 justify-content-start">
                <p>
                    1,5 L <br />
                    1,50
                </p>
            </div>
            <span class="badge badge-primary badge-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Galler Chocolade
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Cara Pils
            6 blikken
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>
</body>
</html>